**.project
**.classpath
build/
.settings/
**.class
**.jar
**.war
.gradle/
bin/
*test-output/
**.log
gradle.properties
**.sass-cache/
portal-defensor-web/.externalToolBuilders/
**.orig
.metadata/
*.iml
.idea/
portal-defensor-web/logs/
**/node_modules
**/bower_components
portal-defensor-web/src/main/webapp/view/index.html
portal-defensor-web/src/main/webapp/assets/scripts/*
portal-defensor-web/src/main/webapp/assets/css/*
portal-defensor-web/src/main/webapp/assets/fonts/**/*
portal-defensor-web/src/main/webapp/assets/bower_components/**
portal-defensor-web/src/main/webapp/assets/fonts/**
